*.elc
auto-save-list/
.ido.last
backups/*
*~
*#
.#*
session*
tramp
history
places
eshell/history
eshell/lastdir
bookmarks
ac-comphist.dat
/ede-projects.el
url/
/semanticdb/
/savefile/
/.org-id-locations
*.orig
.bm-repository
recentf
elpa/*
site-lisp/
smex-items
